@use "../utils/variables" as variable;
@use "../utils/functions" as function;
.card {
 position: relative;
 display: flex;
 flex-direction: column;
 padding: function.to_rem(24px);
 max-width: function.to_rem(384px);
 background-color: variable.$white;
 border-radius: function.to_rem(20px);
 box-shadow: inset 0 0 0 1px variable.$gray-950, 8px 8px variable.$gray-950;
}

.card__image {
 width: 100%;
 border-radius: function.to_rem(12px);
 overflow: hidden;
 object-fit: cover;
}

.card__category {
 margin: function.to_rem(23px) 0 function.to_rem(12px);
 padding: function.to_rem(4px) function.to_rem(12px);
 background-color: variable.$yellow;
 border-radius: function.to_rem(4px);
 font-weight: 900;
 align-self: start;
}

.card__header {
 margin-top: function.to_rem(12px);
 margin-bottom: function.to_rem(13px);
}

.card__link {
 color: variable.$gray-950;
 font-size: function.to_rem(24px);
 font-weight: 900;
 transition: color 0.3s ease;

 &::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: function.to_rem(20px);
 }

 &:hover {
  color: variable.$yellow;
  cursor: pointer;
 }
}

.card__text--medium-gray {
 font-size: function.to_rem(16px);
 color: variable.$gray-500;
}

.card__footer {
 display: flex;
 align-items: center;
 column-gap: function.to_rem(12px);
 margin-top: 22px;
}

.card__text--bold {
 font-weight: 900;
}

.card__image--size {
 max-width: function.to_rem(32px);
}
