@use "../utils/variables" as variable;
@use "../utils/functions" as function;

body {
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: "Figtree", sans-serif;
 font-size: function.to_rem(14px);
 font-weight: 500;
 line-height: 1.5;
 background-color: variable.$yellow;
}
